<% include ../partials/header %>

<div class="container">
  <h1 class="text-center font-weight-light">Create a New Campground</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-3">
      <form method="POST" action="/campgrounds">
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="campground[name]"
            placeholder="Name"
            <% if(inputBeforeError) { %>
              value="<%= inputBeforeError.name %>"
            <% } %>
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="campground[image]"
            placeholder="Image URL"
            <% if(inputBeforeError) { %>
              value="<%= inputBeforeError.image %>"
            <% } %>
          />
        </div>
        <div class="form-group">
          <input
            class="form-control priceControl"
            type="number"
            name="campground[price]"
            min="0"
            step="0.01"
            placeholder="Price per Night"
            <% if(inputBeforeError) { %>
              value="<%= inputBeforeError.price %>"
            <% } %>
          />
        </div>
        <div class="form-group">
          <textarea rows="4" cols="" class="form-control" placeholder="Description" name="campground[description]"><% if(inputBeforeError) { %><%= inputBeforeError.description %><% } %></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Submit
          </button>
        </div>
      </form>
      <a href="/campgrounds">Go Back</a>
    </div>
  </div>
</div>

<% include ../partials/footer %>
